#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        function_layer {
            bindings = <&mo 1>;
            key-positions = <16 28>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    tt223tap: tt223tap {
        compatible = "zmk,kscan-sideband-behaviors";
        kscan = <&touchkey1>;
        auto-enable;

        touch {
            column = <0>;
            row = <0>;
            bindings = <&mkp MB1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W           &kp E         &kp R          &kp T                                                            &kp Y        &kp U  &kp I      &kp O       &kp P
&kp A             &kp S           &kp D         &kp F          &kp G        &lt 4 TAB                        &kp KP_PLUS        &kp H        &kp J  &kp K      &lt 5 L     &mt RIGHT_ALT MINUS
&mt LEFT_SHIFT Z  &kp X           &kp C         &kp V          &kp B        &kp LEFT_GUI                     &lt 6 KP_MULTIPLY  &kp N        &kp M  &kp COMMA  &kp PERIOD  &mt RIGHT_SHIFT SLASH
&kp LEFT_CONTROL  &kp LEFT_SHIFT  &kp LEFT_ALT  &kp BACKSPACE  &lt 2 SPACE  &mt LEFT_CONTROL LANGUAGE_2      &lt 2 LANGUAGE_1   &lt 3 ENTER                                &lt 4 ESC
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        HARDWEAR {
            bindings = <
&none          &studio_unlock  &bootloader    &bt BT_CLR_ALL  &bt BT_CLR                         &none   &none   &none          &kp C_MUTE         &none
&bt BT_SEL 0   &bt BT_SEL 1    &bt BT_SEL 2   &bt BT_SEL 3    &bt BT_SEL 4   &none       &none   &none   &none   &kp C_BRI_UP   &kp C_VOLUME_UP    &none
&bt BT_DISC 0  &bt BT_DISC 1   &bt BT_DISC 2  &bt BT_DISC 3   &bt BT_DISC 4  &none       &none   &none   &trans  &kp C_BRI_DEC  &kp C_VOLUME_DOWN  &none
&trans         &trans          &trans         &trans          &trans         &trans      &trans  &trans                                            &trans
            >;
        };

        NUM {
            bindings = <
&kp LS(NUMBER_1)  &kp LS(NUMBER_2)     &kp LS(NUMBER_3)  &kp LS(NUMBER_4)  &kp LS(N5)                                      &kp LS(NUMBER_6)  &kp LS(N7)  &kp LS(N8)  &kp LS(N9)  &kp LBKT
&kp NUMBER_1      &kp NUMBER_2         &kp NUMBER_3      &kp NUMBER_4      &kp N5         &trans      &kp RS(EQUAL)        &kp NUMBER_6      &kp N7      &kp N8      &kp N9      &kp N0
&kp LEFT_SHIFT    &kp INTERNATIONAL_3  &kp LS(INT_YEN)   &kp EQUAL         &kp LS(EQUAL)  &trans      &kp INT_RO           &kp SEMICOLON     &kp APOS    &trans      &trans      &kp RS(INT_RO)
&trans            &trans               &trans            &kp DELETE        &trans         &trans      &kp INTERNATIONAL_2  &kp TAB                                               &kp INT3
            >;
        };

        FX-ARROW {
            bindings = <
&kp F1          &kp F2  &kp F3  &kp F4      &kp F5                       &kp HOME  &kp PG_UP      &kp UP_ARROW    &kp RC(PG_UP)      &kp RBKT
&kp F6          &kp F7  &kp F8  &kp F9      &kp F10  &trans      &trans  &none     &kp LEFT       &kp DOWN_ARROW  &kp RIGHT          &kp NUHS
&kp LEFT_SHIFT  &none   &none   &kp F11     &kp F12  &trans      &trans  &kp END   &kp PAGE_DOWN  &trans          &kp RC(PAGE_DOWN)  &kp LS(RBKT)
&trans          &trans  &trans  &kp DELETE  &trans   &trans      &trans  &trans                                                      &kp LS(NUHS)
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
            bindings = <
&trans          &trans  &trans  &trans  &trans                      &trans  &trans    &trans    &trans  &trans
&trans          &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB1  &mkp MB2  &mo 5   &trans
&kp LEFT_SHIFT  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans    &mkp MB3  &none   &trans
&trans          &trans  &trans  &trans  &trans  &trans      &trans  &trans                              &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        SHORTCUT {
            bindings = <
&none             &none             &none             &none             &none                                 &none             &none             &none             &none             &none
&kp LG(NUMBER_1)  &kp LG(NUMBER_2)  &kp LG(NUMBER_3)  &kp LG(NUMBER_4)  &kp LG(NUMBER_5)  &none       &trans  &kp LG(NUMBER_6)  &kp LG(NUMBER_7)  &kp LG(NUMBER_8)  &kp LG(NUMBER_8)  &none
&kp LEFT_SHIFT    &none             &none             &none             &none             &none       &none   &none             &none             &none             &none             &none
&trans            &trans            &trans            &trans            &trans            &trans      &trans  &trans                                                                  &trans
            >;
        };
    };
};
